{% extends "base.html" %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<h1>Приветствую!</h1>
<h3>
Вы находитесь на сайте для физического развития людей. <br>
Вы можете тренироваться по нашей программе,<br>
выкладывать посты, смотреть другие посты, лайкать их,<br>
ну и конечно - соревноваться с другими людьми. <br>
Первое место получает сильнейший.<br></h3>
{% endblock %}