{% extends "base.html" %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<h1>ТОП по рейтингу</h1>
<table>
  <thead>
    <tr>
      <th scope="col">Rating</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
    <tbody>
{% for item in users %}
{% if item.email == user_name %}
    <tr bgcolor="BLUE">
      <th scope="row">{{ item.rating }}</th>
      <td>{{ item.name }}</td>
      <td>{{ item.email }}</td>
    </tr>
{% else %}
<tr>
      <th scope="row">{{ item.rating }}</th>
      <td>{{ item.name }}</td>
      <td>{{ item.email }}</td>
    </tr>
{% endif %}
{% endfor %}
</tbody>
</table>
{% endblock %}