{% extends "base.html" %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
{% if age < 12 %}
<h1>Упражнение 1. Отжимания</h1>
    1. Принять упор лежа на полу.<br>
    2. Согнуть руки и постараться коснуться груди пола.<br>
    3. После достижения нижней точки вернуться в исходное положение, разогнув руки.<br>
<br>
Выполнять отжимания можно от пола или использовать в качестве опоры диван или кровать. В первое время ребенка необходимо поддерживать за живот, помогая ему освоить технику выполнения и развить силу рук постепенно. Также важно следить за положением корпуса во время упражнения — он должен быть прямым.

<h1>Упражнение 2. Берпи</h1>
Кроме мышц рук дополнительно задействуют мышцы спины, ног, пресса.<br>

    1. Встать прямо. <br>
    2. Присесть с упором на ладони.<br>
    3. Упираясь на ладони, выпрыгнуть двумя ногами и принять упор лежа.<br>
    4. Лечь на пол и сделать отжимание.<br>
    5. С усилием подтянуть ноги к груди и принять положение приседа с упором на ладони.<br>
    6. Из приседа выпрыгнуть вверх, сделав в верхней точке хлопок руками над головой.<br>
<h2>Для ног</h2>
<h1>Упражнение 1. Приседания</h1><br>
    1. Спина прямая, ноги на ширине плеч. Руки поставить на пояс, завести за голову или вытянуть перед собой.<br>
    2. Выполнить присед вниз-вверх.<br>
<h1>Упражнение 2. Зашагивание на высокую поверхность</h1><br>
В роли высокой поверхности для маленьких детей можно использовать таз или ведро, а для более старшего возраста — диван или кровать.<br>

    1. Встать перед высокой поверхностью. Руки на поясе, спина прямая.<br>
    2. Зашагнуть на поверхность с усилием на опорную ногу.<br>
    3. Вернуться в исходное положение, опустившись на пол.<br>
Кроме силы ног, такое упражнение будет развивать чувство равновесия<br>

<h1>Упражнение 3. Прыжки на одной ноге</h1><br>

    1. Встать ровно, руки на поясе. <br>
    2. Выполнить 10-15 прыжков на носке одной ноги.<br>
<br>
<a href="/success" class="btn btn-info">
            Тренировка пройдена!
        </a>
{% elif 12 < age < 20 %}
<h1>Планка на локтях</h1>
Планка — статическое упражнение для укрепления мускулатуры корпуса.<br>
Необходимо задержаться в позиции стойки на локтях не менее 20-30 секунд,<br>
сохраняя нормальный ритм дыхания и ощущая напряжение в мышцах пресса. <br>
Тело должно быть вытянуто в прямую линию, взгляд направлен перед собой<br>

<h1>Боковая планка с поднятием ноги</h1>
После того, как вы сможете выполнить 3-4 подхода упражнения планка на локтях<br>
(с задержкой 20-30 секунд) рекомендуется переходить к боковой планке. <br>
Вес тела при этом расположен на одной руке. Дополнительным усложняющим<br>
элементом станет подъем ноги — это развивает чувство равновесия.<br>

<h1>Обратные скручивания</h1>
В качестве упражнения для развития пресса подросткам отлично подходят<br>
обычные и обратные скручивания. Преимущества обратных скручиваний <br>
заключается в том, что они развивают нижний пресс, укрепляют мышцы <br>
ног и положительно влияют на проблемы с осанкой, вызванные постоянной сидячей позой.<br>

<h1>Подъем таза лежа</h1>
Исходное положение — лежа на спине. Затем, за счет активации ягодичных<br>
мышц и прямой мышцы живота, необходимо поднять таз и бедра вверх — и <br>
задержаться на 2-3 секунды, сжимая ягодицы как можно сильнее.<br>
Всего — 10-12 повторений. Упражнение развивает <br>
нейромышечную связь и улучшает осанку.<br>

<h1>Отжимания от скамьи на трицепс</h1>
Для выполнения этого упражнения понадобится скамья или стул.<br>
Механика движения заключается в опускании тела как можно ниже<br>
(без округления спины), затем — в выталкивании как можно выше вверх.<br>
По сути, за счет силы трицепса необходимо приподнять вес<br>
тела выше позиции ладоней.<br>

<h1>Выпады</h1>
Выпады вперед на одной ноге — упражнения<br>
для развития мышц ног и укрепления пресса.<br>
В частности, правильная техника подразумевает<br>
постоянное напряжение мышц живота при выполнении движения.<br>
Кроме этого, важно следить за ритмом дыхания.<br>
Выполняйте 2-3 подхода по 10-12<br>
повторений для каждой ноги.<br>
<a href="/success" class="btn btn-info">
            Тренировка пройдена!
        </a>
{% else %}
<h1>Наклоны головы</h1><br>

Техника выполнения<br>

    Встаньте, ноги на ширине плеч, руки положите на пояс, голова находится в ровном положении.<br>
    Выполняйте наклоны шеи влево, вправо, а затем вперёд и назад. И так по кругу.<br>
    Выполняйте одну-две минуты в медленном темпе.<br>

Польза: это упражнение избавит от скованности в шее, уберёт мышечный спазм и уменьшит болевые ощущения.<br>
Круговые вращения плечами<br>

<h1>Круговые вращения плечами</h1><br>

    Встаньте прямо, расслабьте руки и опустите их вниз.<br>
    Делайте круговые движения в плечевых суставах сначала назад, а затем вперёд.<br>
    Выполняйте одну-две минуты в медленном темпе.<br>

Польза: упражнение улучшит кровообращение грудного отдела позвоночника, увеличит подвижность суставов.<br>
<h1>Круговые вращения руками</h1><br>

Техника выполнения<br>

    Встаньте прямо, руки слегка отведите в стороны.<br>
    На вдохе поднимайте руки вверх через стороны, делая круговые движения, на выдохе опускайте руки вниз. Движение выполняется: вверх-вперёд-вниз-в стороны.
    <br>
Выполняйте одну-две минуты в медленном темпе.<br>

Польза: упражнение хорошо разогревает плечевые суставы и делает их более гибкими и подвижными.<br>

<h1>Круговые вращения локтями</h1><br>

Техника выполнения<br>

    Встаньте прямо и разведите прямые руки в стороны ладонями вниз. Далее согните их в локтях под углом в 90 градусов.<br>
    Выполняйте круговые вращения предплечьями сначала вперёд, а затем назад.<br>
    Выполняйте одну-две минуты в медленном темпе без резких движений.<br>

Польза: упражнение отлично разрабатывает подвижность локтевых суставов и снимает боль.<br>
<h1>Круговые вращения кистями</h1><br>

Техника выполнения<br>

    Встаньте прямо и разведите прямые руки в стороны ладонями вниз.<br>
    Далее сожмите ладони в кулак и выполняйте круговые вращения кистями сначала внутрь, а затем наружу.<br>
    Выполняйте одну-две минуты в медленном темпе без резких движений.<br>

Польза: упражнение укрепляет кисти и снимает напряжение.<br>

<h1>Круговые вращения тазом</h1><br>

Техника выполнения<br>

    Встаньте, ноги на ширине плеч, руки положите на пояс, голова находится в ровном положении.<br>
    Выполняйте вращение тазом, двигаясь вперёд, в сторону, назад, а потом в другую сторону. С каждым кругом старайтесь увеличить амплитуду движения.
 <br>
    Выполняйте одну-две минуты в медленном темпе без резких движений.<br>

Польза: упражнение повышает подвижность поясницы, укрепляет мышцы пресса и улучшает кровообращение в органах таза.<br>
<h1>Круговые вращение бедра</h1><br>

Техника выполнения<br>

    Встаньте, ноги на ширине плеч.<br>
    Поднимите одну ногу вверх и согните в колене.<br>
    Далее выполняйте круговые вращения бедра наружу, а затем внутрь. С каждым кругом увеличивайте амплитуду движения.<br>
    Выполняйте упражнение одну-две минуты в медленном темпе без резких движений.<br>

Польза: упражнение улучшает подвижность тазобедренного сустава.<br>
<a href="/success" class="btn btn-info">
            Тренировка пройдена!
        </a>
{% endif %}
{% endblock %}